/ZozOt due progetti.zip
/ZozOt Xively/ZozOt Xively/assets
/ZozOt Xively/ZozOt Xively/bin
/ZozOt Xively/ZozOt Xively/gen
/ZozOt Xively/ZozOt Xively/.classpath
/ZozOt Xively/ZozOt Xively/.project
/ZozOt Xively/ZozOt Xively/.settings
/ZozOt OpenEnergyMonitor/.project
/ZozOt OpenEnergyMonitor/.settings
/ZozOt OpenEnergyMonitor/assets
/ZozOt OpenEnergyMonitor/bin
/ZozOt OpenEnergyMonitor/gen
/ZozOt OpenEnergyMonitor/.classpath
